#root
{
    background-color: white ;
}


.projects-container {
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.carousel-wrapper {
    width: 60%;
}


.progress-bar-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
